.concept{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    h1{
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: $_font-size * 2.57;
    }
    p{
        margin-top: -3px;
        font-size: $_font-size * 1.14;
        line-height: $_font-size * 1.36;
    }
    &__feature{
        padding-top: 80px;
    }
    &__feature-item{
        padding: 0 30px 58px 0;
    }
    h5{
        font-size: $_font-size * 1.14;
        padding-top: 17px;
    }
    &__content{
        font-size: $_font-size * 1.14;
        padding-top: 4px;
    }
}