.concept{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #212121;
    color: #fff;
    padding-bottom: 50px;
    text-align: center;
    a{
        cursor: pointer;
    }
    &__feature{
        padding: 80px 0 6px 0;
    }
    &__feature-item{
        padding: 0 40px 30px 40px;
    }
    h5{
        font-size: $_font-size * 1.14;
        padding-top: 17px;
    }
    &__content{
        font-size: $_font-size * 1.14;
        margin-top: -1px;
        line-height: 20px;
    }
}