.indi-go-go{
    background-color: #28d7ed;
    text-align: center;
    a{
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        h3{
            display: inline-block;
            margin: 38px 0;
        }
        i{
            font-size: 34px;
            position: relative;
            top: 3px;
            left: 10px;
        }
    }
    img{
        position: relative;
        top: -5px;
        right: 20px;
    }
}
